* {
  font-family: 'Open Sans', sans-serif;
}

body {  
  margin: 0;
}

h1 {
  color: #FFFFFF;
  display: inline-block;
  font-size: 1.7em;
  font-weight: 800;
  margin-bottom: 10px;
}

h2 {
  color: #455A64;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

a {
  color: #607D8B;
  margin-left: 20px;
  text-decoration-color: #F2F4F4;
}

a:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration-color: #FFC107;
}

li {
  background-color: #FFFFFF;
  border-color: #607D8B;
  border-style: solid;
  border-width: thin;
  margin-bottom: 20px;
  margin: auto;
  width: 80%;
}

input {
  font-size: 18px;
  height: 20px;
  margin-bottom: 20px;
  margin-left: 25%;
  width: 50%;
}

 img {
  display: inline-block;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
 }

main {
  background-color: #455A64;
}

hr {
  border-color: #CFD8DC;
  margin-bottom: 5px;
  width: 93%;
}

section {
  background-color: #CFD8DC;
  height: 500px;
}

article {
  background-color: #CFD8DC;
  color: #455A64;
  margin-left: 25%;
  margin-top: 10px;
  width: 50%;
}

input {
  border: none;
}

.parent {
  background-color: #455A64;
  display: inline-block;
  float: left;
  height: 100vh;
  margin: auto;
  width: 50%;
}

.title-container {
  margin: 0 auto;
}

.linked {
  margin-left: 25%;
}

.yellow-button {
  background-color: #FFC107;
  border: 0;
  color: #FFFFFF;
  font-weight: 800;
  height: 25px;
  margin-bottom: 10px;
  margin-left: 25%;
  width: 50%;
}

#clear-button {
  background-color: #FFC107;
  border: 0;
  color: #FFFFFF;
  font-weight: 800;
  margin-bottom: 10px;
  margin-left: 25%;
  margin-top: 10px;
  width: 50%;
}

.yellow-button:hover {
  background-color: #FFD773;
}

.read-button {
  color: #455A64;
}

.readDeleteButtons {
  border: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 5px;
}

.readDeleteButtons:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration-color: #FFC107;
}

.delete-button {
  color: #455A64;
  float: right;
}

.section2  {
  display: inline-block;
  float: right;
  height: 100vh;
  overflow: scroll;
  width: 50%;
}

.card-container {
  list-style-type: none;
  overflow: scroll;
}

.read {
  color: #F05A28;
}

.read-background {
  background-color: #F2F4F4;
}

.cards {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .section2 {
    display: block;
    float: none;
    height: 50%;
    width: 100%;
  }

  .parent {
    display: block;
    float: none;
    height: 50%;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 2.5em;
    margin-left: 15px;
  }
