* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  display: inline-block;
  color: #FFFFFF;
  font-weight: 800;
}

h2 {
  margin-top: 0;
}
.linked {
  margin-left: 25%;
}

input {
  margin-left: 25%;
  margin-bottom: 20px;
  width: 40%;
  height: 20px;
}

 img {
  display: inline-block;
 }

.parent {
  width: 50%;
  margin: auto;
  background-color: #455A64;
  }

main {
  background-color: #455A64;
}

button {
  background-color: #FFC107;
  color: #FFFFFF;
}

button:hover {
  background-color: #FFD773;
}

section {
  background-color: #CFD8DC;
}


